@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/global";
@import "../../styles/variables";

.greene__authentication {
    font-size: 1.25rem;
    color: white;
    height: 50rem;
    padding: 3.25rem;
    background-image: linear-gradient(0deg,rgba(51, 51, 51, 0.51),rgba(51, 51, 51, 0.51)), url('../../assets/Images/2150858289.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100vw;

    @include tablet-breakpoint {
        padding: 0rem;
        height: 65rem;
        background-image: url('../../assets/Images/2150858289.jpg');
        display: flex;
        justify-content: flex-end;
    }

    @include desktop-breakpoint {
        padding: 0rem;
        height: 100rem;
        font-size: 2.25rem;
    }

    &-login {

        @include tablet-breakpoint {
            background: rgba(51, 51, 51, 0.51);
            width: 50%;
            padding: 6.75rem 3.75rem 3.75rem;
        }

        @include desktop-breakpoint {
            padding: 10rem 6rem 6rem;
        }
    }

    &-title {
        font-size: 2.25rem;

        @include desktop-breakpoint {
            font-size: 3.5rem;
        }
    }

    &-form {
        padding: 1.25rem 0;

        @include desktop-breakpoint {
            padding: 2.25rem 0;
        }
    }

    &-label {
        display: flex;
        margin-bottom: 0.5rem;
    }

    &-username, &-password{
        height: 2.5rem;
        background: transparent;
        border-style: none;
        border-bottom: 0.125rem solid #E7F0D2;;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding: 0.5rem;
        color: white;

        &:focus{
            outline: none;
        }

        @include desktop-breakpoint {
            height: 3.75rem;
            font-size: 1.75rem;
            margin-bottom: 2rem;
        }
    }

    &-submitbutton {
        border-radius: 1rem;
        background: #333;
        width: 10.875rem;
        height: 3rem;
        flex-shrink: 0;
        color: white;
        border-style: none;
        font-size: 1.25rem;

        @include desktop-breakpoint {
            height: 4rem;
            font-size: 2.25rem;
            width: 23rem;
        }

    }

    &-needaccount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1rem;

        @include desktop-breakpoint {
            font-size: 1.75rem;
        }
    }

    &-text {
        width: auto;
    }

    &-navigation {
        width: auto;
        text-decoration: underline;
        color: white;
        margin-left: 0.75rem;
    }

    &-success {
        color: white;
        margin-bottom: 0.5rem;
    }

    &-successnavigation {
        text-decoration: underline;
        color: white;
    }

    &-offscreen {
        position: absolute;
        left: -9999px;
    }

    &-errmsg {
        background-color: #333;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}