@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/global";
@import "../../styles/variables";

.greene__profile {
    background: var(--Background, linear-gradient(180deg, #E3F9B1 0%, rgba(228, 235, 212, 0.00) 100%));
    padding: 2.25rem;
    text-align: left;
    font-size: 1rem;

    @include tablet-breakpoint {
        padding: 3.75rem;
        font-size: 1.5rem;
    }

    @include desktop-breakpoint {
        padding: 7.875rem;
        font-size: 1.75rem;
    }

    &-userinformation {
        padding-bottom: 1.5rem;
        border-bottom: 0.125rem solid #333;

        @include tablet-breakpoint {
            padding-bottom: 2.5rem;
        }

        @include desktop-breakpoint {
            padding-bottom: 3.5rem;
        }
    }

    &-title {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
        font-weight: 600;

        @include tablet-breakpoint {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        @include desktop-breakpoint {
            font-size: 4rem;
            margin-bottom: 2.5rem;
        }
    }

    &-datatitle {
        font-weight: 600;
    }

    &-information {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        @include tablet-breakpoint {
            margin-bottom: 1.5rem;
        }

        @include desktop-breakpoint {
            margin-bottom: 2.5rem;
        }
    }

    &-cta {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &-edit {
        border-radius: 0.625rem;
        background: #333;
        width: 4.125rem;
        height: 2.5rem;
        flex-shrink: 0;
        font-size: 1rem;
        border-style: none;
        color: white;
        margin-right: 1rem;

        @include tablet-breakpoint {
            width: 8.125rem;
            margin-right: 2rem;
            font-size: 1.25rem;
        }

        @include desktop-breakpoint {
            width: 14.625rem;
            height: 4.5rem;
            margin-right: 4rem;
            font-size: 1.5rem;
        }
    }

    &-logout {
        border-radius: 0.625rem;
        background: #333;
        width: 4.125rem;
        height: 2.5rem;
        flex-shrink: 0;
        font-size: 1rem;
        border-style: none;
        color: white;
        margin-left: 1rem;

        @include tablet-breakpoint {
            width: 8.125rem;
            margin-right: 2rem;
            font-size: 1.25rem;
        }

        @include desktop-breakpoint {
            width: 14.625rem;
            height: 4.5rem;
            margin-right: 4rem;
            font-size: 1.5rem;
        }
    }

    &-subscriptioninfo {
        padding: 1.5rem 0rem;
        border-bottom: 0.125rem solid #333;

        @include tablet-breakpoint {
            padding: 2.5rem 0rem;
        }

        @include desktop-breakpoint {
            padding: 3.5rem 0rem;
        }
    }

    &-subscriptiontitle {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
        font-weight: 600;

        @include tablet-breakpoint {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        @include desktop-breakpoint {
            font-size: 4rem;
            margin-bottom: 2.5rem;
        }
    }

    &-plantitle {
        font-weight: 600;
    }

    &-subscriptiondetails {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        @include tablet-breakpoint {
            margin-bottom: 1.5rem;
        }

        @include desktop-breakpoint {
            margin-bottom: 2.5rem;
        }
    }

    &-cancelcta {
        border-radius: 0.625rem;
        background: #333;
        width: 4.125rem;
        height: 2.5rem;
        flex-shrink: 0;
        font-size: 1rem;
        border-style: none;
        color: white;

        @include tablet-breakpoint {
            width: 8.125rem;
            margin-right: 2rem;
            font-size: 1.25rem;
        }

        @include desktop-breakpoint {
            width: 14.625rem;
            height: 4.5rem;
            margin-right: 4rem;
            font-size: 1.5rem;
        }
    }

    &-sessionmanagement {
        padding: 1.5rem 0rem;

        @include tablet-breakpoint {
            padding: 2.5rem 0rem;
        }

        @include desktop-breakpoint {
            padding: 3.5rem 0rem;
        }
    }

    &-sessiontitle {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
        font-weight: 600;

        @include tablet-breakpoint {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        @include desktop-breakpoint {
            font-size: 4rem;
            margin-bottom: 2.5rem;
        }
    }

    &-sessionstart {
        border-radius: 0.625rem;
        background: #333;
        width: 8.5rem;
        height: 2.5rem;
        flex-shrink: 0;
        font-size: 1rem;
        border-style: none;
        color: white;
        margin-right: 1rem;

        @include tablet-breakpoint {
            width: 10.5rem;
            margin-right: 2rem;
            font-size: 1.25rem;
            height: 3.5rem;
        }

        @include desktop-breakpoint {
            width: 14.625rem;
            height: 4.5rem;
            margin-right: 4rem;
            font-size: 1.5rem;
        }
    }

    &-sessionstop {
        border-radius: 0.625rem;
        background: #333;
        width: 8.5rem;
        height: 2.5rem;
        flex-shrink: 0;
        font-size: 1rem;
        border-style: none;
        color: white;

        @include tablet-breakpoint {
            width: 10.5rem;
            margin-right: 2rem;
            font-size: 1.25rem;
            height: 3.5rem;
        }

        @include desktop-breakpoint {
            width: 14.625rem;
            height: 4.5rem;
            margin-right: 4rem;
            font-size: 1.5rem;
        }
    }

    &-sessioncta {
        display: flex;
        flex-direction: c;
        margin-bottom: 1rem;
        justify-content: center;

        @include tablet-breakpoint {
            margin-bottom: 1.5rem;
        }

        @include desktop-breakpoint {
            margin-bottom: 2.5rem;
        }
    }

    &-startnotification {
       text-align: center;
    }

    &-offscreen {
        position: absolute;
        left: -9999px;
    }

    &-errmsg {
        background-color: #333;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &-stopnotification {
        text-align: center;
     }
 
     &-stopoffscreen {
         position: absolute;
         left: -9999px;
     }
 
     &-stoperrmsg {
         background-color: #333;
         color: white;
         padding: 0.5rem;
         margin-bottom: 0.5rem;
     }

     &-canceloffscreen {
        position: absolute;
        left: -9999px;
    }

    &-cancelerrmsg {
        background-color: #333;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &-successcancellation {
        margin-bottom: 0.5rem;
        padding-top: 1.5rem;
        text-align: center;

        @include tablet-breakpoint {
            padding-top: 2.5rem;
        }

        @include desktop-breakpoint {
            padding-top: 3.5rem;
        }
    }

    &-successnavigation {
        text-decoration: underline;
    }

}