@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/global";
@import "../../styles/variables";

.greene__header {
    height: 4.3125rem;
    background: #333;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.25rem;

    @include tablet-breakpoint {
        height: 7.875rem;
        padding: 0 3.75rem;
    }

    @include desktop-breakpoint {
        height: 11.125rem;
        padding: 0 7.875rem;
    }

    &-navcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include tablet-breakpoint {
            width: 100%;
        }
    }

    &-navigation {
        color: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @include tablet-breakpoint {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        @include desktop-breakpoint {
            font-size: 2rem;
            display: flex;
            flex-direction: row;
        }
    }

    &-navlink {
        list-style-type: none;
        width: auto;

        @include tablet-breakpoint {
            width: auto;
            display: flex;
        }
    }

    &-navigationopen {
        display: flex;
        flex-direction: column;
        color: #FFF;
    }
}