@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/global";
@import "../../styles/variables";

.greene__carousel {
    padding: 2.25rem;
    height: 30rem;

    @include tablet-breakpoint {
        height: 33rem;
        padding: 3.75rem;
    }

    @include desktop-breakpoint {
        padding: 7.875rem;
        height: 53rem;
    }

    &-title {
        color: #506249;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: left;

        @include tablet-breakpoint {
            font-size: 3rem;
        }
    }

    &-slider {
        padding: 2.25rem 0 1rem;
        width: auto;

        @include tablet-breakpoint {
            padding: 3.75rem 0 0;
        }
    }

    &-card {
        width: 12.625rem !important;
        height: 18.5rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        border: 0.25 solid #506249;
        background: #333;
        color: #E7F0D2;
        padding: 2rem 1rem;
        font-size: 0.8125rem;

        @include desktop-breakpoint {
            width: 20rem !important;
            height: 30rem;
            font-size: 1.5rem;
        }
    }

    &-rate {
        font-size: 1.25rem;
        padding-top: 1rem;
        border-bottom: 0.0625rem solid #D2EA9B;

        @include desktop-breakpoint {
            font-size: 2rem;
            padding-top: 1rem;
        }
    }

    &-range {
        padding-top: 0.75rem;

        @include desktop-breakpoint {
            padding-top: 1rem;
        }
    }

    &-rangedetail {
        padding-bottom: 0.75rem;

        @include desktop-breakpoint {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &-chargedetail{
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        height: 30%;

        @include desktop-breakpoint {
            padding-bottom: 1rem;
            height: 35%;
        }
    }

    &-fastcharge {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include desktop-breakpoint {
            justify-content: space-around;
        }
    }

    &-slowcharge {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 0.0625rem solid #D2EA9B;

        @include desktop-breakpoint {
            justify-content: space-around;
        }
    }

    &-button {
        width: 8rem;
        height: 2.5rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: #D2EA9B;
        border-style: none;
        font-size: 1.25rem;

        @include desktop-breakpoint {
            width: 14.0625rem;
            height: 4.5rem;
            font-size: 2.25rem;
        }
    }

    &-success {
        margin-bottom: 0.5rem;

        @include tablet-breakpoint {
            font-size: 1.5rem;
        }

        @include desktop-breakpoint {
            font-size: 2.5rem;
        }
    }

    &-successnavigation {
        text-decoration: underline;
    }

    &-offscreen {
        position: absolute;
        left: -9999px;
    }

    &-errmsg {
        background-color: #333;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
